/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Estilos para el encabezado */
  .navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    width: 100px;
  }
  
  .auth-buttons .btn {
    margin-left: 10px;
    color: white;
    text-decoration: none;
  }
  

.footer {
    background-color: #f0f0f0;
    padding: 25px;
    text-align: center;
  }
  
  .social-buttons {
    margin-top: 10px;
  }
  
  .social-button img {
    width: 25px; 
    height: 25px; 
    padding: 10px;
  }
  
  .contact-button {
    margin-top: 25px;
  }
  